body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 20px;
}
#table-add-station {
    table-layout: fixed;
}

.teal.lighten-2 {
     background-color: #EFB631 !important;

 }

.teal.lighten-2 a {
    color : black !important;


}

.resa-btn {
    background-color: black !important;
    color: #fff;
}

.blackIcon {
    color: black;
    margin-right: 5%;
}

.blackLinks {
    color: black !important;
}
